sudo: required
services:
  - docker

before_install:
  - dcoker build -t asetk/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run asetk/react-test npm test -- --coverage

after_success:
 - docker build -t asetk/multi-client ./client
 - docker build -t asetk/multi-nginx ./nginx
 - docker build -t asetk/multi-server ./server
 - docker build -t asetk/multi-worker ./worker

# Log in to the docker CLI
 - echo "$DOCKER_PASSWORD" | docker login -u "DOCKER_ID" --password-stdin

# Take those images and push the to docker hub
  - docker push asetk/multi-client
  - docker push asetk/multi-nginx
  - docker push asetk/multi-server
  - docker push asetk/multi-worker
  

